<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>TODO App</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >search</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >logout</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<div style="width:80%;  margin:auto; margin-top:30px;">
  <mat-card>
    <h1>Your Tasks</h1>

    <mat-form-field appearance="outline">
      <mat-label for="">Type a new task</mat-label>
      <input [(ngModel)]="inputText" (keydown.enter)="create()" type="text" matInput />
    </mat-form-field>

    <mat-list role="list">
      <mat-list-item *ngFor="let item of todoItems" role="listitem"
        >
        
        <div style="width:100%;">
          {{ item.data }}
          <div style="float:right; color:rgb(103, 103, 103); font-style: italic; font-size:12px;">{{ item.date_time }}</div>
        </div>
        
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
